.profile-carousel-container{
    .imagen-container{
        background: '#364d79';
        position: relative;
        z-index: 0;
        
        .image-carousel{
            color: '#fff';
            line-height: '160px';
            text-align: 'center';
            position: relative;
            z-index: 0;
        }
    }
    
}