@import '../../style.scss';

.profile-container{
    background-color: white;
    .top-col{
        background-color: white;
        position: relative;
        z-index: 1;
        justify-content: center;
        display: flex;
        margin: 0px 0px 10px 0px;
        .profile-description{
            box-shadow: 0px 0px 21px 1px rgba($color: #000000, $alpha: 0.1) ;
            background-color: white;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            width: 90%;
            padding: 20px 0px 0px 0px;
            
            .foto-container{
                text-align: center;
            }
        }
    }

    .carousel-col{
        position: relative;
        z-index: 0;
        margin: -10% 0px -10% 0px;
        padding: 0px 80px 0px 80px;
        width: 100%;

    }

    .mid-col{
        background-color: white;
        justify-content: center;
        display: flex;
        margin: 0px 0px 0px 0px;

        .skills-container{
            border-radius: 8px;
            background-color: white;
            width: 90%;
            box-shadow: 0px 0px 21px 1px rgba($color: #000000, $alpha: 0.1) ;
            .skill-card{
                .ant-card-body{
                    padding: 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px;
                    .avatar-language{
                        padding: 10px;
                        // cursor: help;
                    }
                }

            }

            .skill-card:hover{
                background-color: $color_3;
                        
                border-radius: 8px;
                box-shadow: inset 0 0 5px rgba(0,0,0,0.3);

                img{
                    filter:brightness(10) grayscale(100%) contrast(100%);
                }
            }
            
        }
    }

    .footer-col{
        background-color: white;
        justify-content: center;
        display: flex;
        margin: 40px 0px 0px 0px;

        .contact-container{
            border-radius: 8px;
            background-color: white;
            width: 90%;
            box-shadow: 0px 0px 21px 1px rgba($color: #000000, $alpha: 0.1) ;
        }
    }
}